* {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

img {
  max-height: 500px;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.wrapper {
  margin-top: 5em;
  display: grid;
  grid-column: auto;
  align-items: center;
  justify-content: center;
}
